<div class="container">
    <!-- Form Header -->
     <h2 class="mb-4">Create New User</h2>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="container mt-4">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">First Name:</label>
                <input formControlName="firstName" type="text" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Last Name:</label>
                <input formControlName="lastName" type="text" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Email:</label>
                <input formControlName="email" type="email" class="form-control" required>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Username:</label>
                <input formControlName="userName" type="text" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Password:</label>
                <input formControlName="password" type="password" class="form-control" required>
            </div>
        </div>

        <!-- Right-Aligned Submit Button -->
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </div>
    </form>
</div>